<plugin name='class-domain-uml' version='0.1.5' grailsVersion='2.0 &gt; *'>
  <author>Ignacio Ocampo Millan</author>
  <authorEmail>nafiux@gmail.com</authorEmail>
  <title>Class Domain UML Plugin</title>
  <description>Automagically create a UML diagram from all your domain classes of your Grails app.
</description>
  <documentation>http://grails.org/plugin/class-domain-uml</documentation>
  <type>ClassDomainUMLGrailsPlugin</type>
  <resources>
    <resource>com.nafiux.grails.classdomainuml.ClassDomainUMLController</resource>
  </resources>
</plugin>